---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from '../components/Projects.astro';
---

<Layout title="Kevin's Portfolio">
	<main class="flex">
		<Hero />
		<About />
		<Projects /> 
	</main>
</Layout>

<style>
	.flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const anchorLink = document.getElementById("toabout");
		const anotherOne = document.getElementById("toabout2");
		const anchorProjects = document.getElementById("toprojects");

		function scrollToTargetOnClick(event, targetId) {
			event.preventDefault();
			const targetElement = document.getElementById(targetId);

			if (targetElement) {
				window.scroll({
					behavior: "smooth",
					left: 0,
					top: targetElement.offsetTop,
				});
			}
		}

		if (anchorLink) {
			anchorLink.addEventListener("click", function (event) {
				scrollToTargetOnClick(event, "about");
			});
		} else {
			console.error("Element with ID 'toabout' not found.");
		}

		if (anotherOne) {
			anotherOne.addEventListener("click", function (event) {
				scrollToTargetOnClick(event, "about");
			});
		} else {
			console.error("Element with ID 'toabout2' not found.");
		}

		if (anchorProjects) {
			anchorProjects.addEventListener("click", function (event) {
				scrollToTargetOnClick(event, "projects");
			});
		} else {
			console.error("Element with ID 'toprojects' not found.");
		}
	});
</script>
