---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
import About from '../components/About.astro';
// import Projects from '../components/Projects';
---

<Layout title="Kevin's Portfolio">
	<main class="flex">
		<Hero />
		<About />
		<!-- <Projects />  -->
	</main>
</Layout>


<style>
	.flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
    const anchorLink = document.getElementById('toabout');

    if (anchorLink) {
        anchorLink.addEventListener('click', function(event) {
            // Call the function with the ID of the target section
            scrollToTargetOnClick(event, 'about');
        });
    } else {
        console.error("Element with ID 'toabout' not found.");
    }
});

function scrollToTargetOnClick(event, targetId) {
    // Check if the clicked element has a specific ID
    if (event.target.id === 'toabout') {
        // Prevent the default behavior of the anchor tag
        event.preventDefault();

        const targetElement = document.getElementById(targetId);

        if (targetElement) {
            window.scroll({
                behavior: 'smooth',
                left: 0,
                top: targetElement.offsetTop
            });
        }
    }
}



</script>