
<footer class="bg-gradient-to-r from-sky-400 to-blue-500 text-white p-4 shadow-2xl">
	<div class="flex flex-row items-center">
			<p class="justify-start">&copy; 2023 Kevin Garcia. All rights reserved.</p>
			<ul class="flex flex-row gap-8 justify-end w-full">
				<li>
					<a href="https://github.com/kevdev04" target="_blank">
						<img src="../../brand-github-filled.svg" alt="">
					</a>
				</li>
				<li>
					<a href="mailto:kggc03@gmail.com" target="_blank">
						<img src="../../mail-filled.svg" alt="">
					</a>
				</li>
			</ul>
	</div>
</footer>
