---

---

<section id="hero" class="hero-section">
	<div class="hero-leftside">
		<div class="hero-text-container"></div>
		<div class="hero-btn">
			<a id="toabout2" href="#">About Me</a>
		</div>
	</div>

	<div class="hero-rightside">
		<img class="hero-image" src="/row3.webp" width={550} alt="" />
	</div>
</section>

<style>
	.hero-section {
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
		justify-items: center;
		padding: 4rem;
		margin-top: 4rem;
		
		height: 100vh;
		width: 99vw;
		
	}

	.hero-leftside {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		gap: 3rem;
		min-width: 100%;
		height: 100%;
		position: relative; 
	}

	.hero-rightside {
		display: flex;
		justify-content: center;
		align-items:start;

		height: 100%;
	}

	.hero-text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		min-width: 100%;
		min-height: 40vh;
		font-size: 4.8rem;
		font-weight: 500;
		line-height: 1.4;
		display: block;
		overflow: hidden;
	}


	.hero-btn{
  position:relative;
  display:inline-block;
  margin:10px;
}

.hero-btn a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#0284C7;
  display:block;
  position:relative;
  padding:10px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #8bbcff, 0 10px 0 #006191;
  -moz-box-shadow:inset 0 1px 0 #8bbcff, 0 10px 0 #006191;
  box-shadow:inset 0 1px 0 #8bbcff, 0 10px 0 #006191;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.hero-btn a:active{
  top:10px;
  background-color: #0284C7;
  
  -webkit-box-shadow:inset 0 1px 0 #8bbcff, inset 0 -3px 0 #012d44;
  -moz-box-shadow:inset 0 1px 0 #8bbcff, inset 0 -3pxpx 0 #012d44;
  box-shadow:inset 0 1px 0 #8bbcff, inset 0 -3px 0 #012d44;
}

.hero-btn:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

	@media (max-width: 768px) {
		.hero-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			margin: 1rem;
		}

		.hero-text-container {
			font-size: 3rem;
			min-height: 50vh;
		}

		.hero-rightside {
			display: none;
		}
		.hero-image {
			display: none;
		}
	
	}
</style>

<script>
	const heroText = document.querySelector(".hero-text-container");
	const text =
		"Hi! My name is Kevin Garcia Software Engineer Student based in Puebla.";

	function textType(element, text, i = 0) {
		if (i === 0) {
			while (element.firstChild) {
				element.removeChild(element.firstChild);
			}
		}

		const char = document.createElement("span");
		char.textContent = text[i];

		if (text[i] === "K" || text[i] === "G" || text[i] === "P") {
			char.style.color = "#0284C7";
		}

		element.appendChild(char);

		if (i === text.length - 1) {
			setTimeout(() => {
				const drip = document.querySelector(".drip") as HTMLElement;
			}, 500);
			return;
		}

		setTimeout(() => {
			textType(element, text, i + 1);
		}, 35);
	}

	textType(heroText, text);


	
</script>
