---

---

<section id="journey">
  <div>
    <h1>The journey will be right here:)</h1>
  </div>
</section>

<style>
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    padding: 2rem;
    margin: 4rem;  
    
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 100%;

      background-color: #ffffff;
      border-radius: 1rem;

      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
  }
</style>