---
import Layout from "../../layouts/Layout.astro";
import BackHome from "../../components/ui/BackHome.astro";
---

<Layout title="Buap Quiz">
	<main class="flex flex-col items-center justify-center m-4 p-4">
		<h1 class="text-3xl font-bold m-2 p-2">Buap Quiz</h1>

		<section class="flex flex-row items-start justify-center w-1/2 m-2 p-2">
			<img width="450" src="/buapquiz.png" alt="bonanza mobile app" />
			<h2>
				Buap quiz is a project that i made in a moment in my life where i was about to face an exam to enter to the university, so i decided to make a quiz to practice and learn more about the topics that i was going to be evaluated.
				<br />
				<br />
				I wanted to leave it simple and minimalist so i took inspiration from a famous game called "Trivia Crack" and i made a simple version of it.
				<br />
				<br />
				You can check the source code and the demo in the links below.
			</h2>
		</section>
		<section class="flex flex-row items-center gap-4 w-1/2 m-4 p-2">
			<a
				class="bg-black text-white w-full cursor-pointer h-9 rounded flex justify-center items-center"
				href="https://github.com/kevdev04/BuapQuiz"
				target="_blank"
				>GitHub
			</a>
			<a
				class="bg-sky-600 text-white w-full cursor-pointer h-9 rounded flex justify-center items-center"
				href="https://myquizz.vercel.app/"
				target="_blank"
				>Demo
			</a>
		</section>
		<BackHome symbol="<<" />
	</main>
</Layout>
